global
   log "stdout" format rfc5424 daemon  notice
   #spread-checks 5

defaults
   mode tcp
   log global
   log-format " %ci:%cp [%t]  %ft port %fp  %b/%s %Tw/%Tc/%Tt %B %ts  %ac/%fc/%bc/%sc/%rc %sq/%bq "
   balance leastconn
   timeout connect 5s
   timeout server 30s
   timeout client 30s
   default-server inter 10s

frontend xray-ocserv-frontend
   bind *:443  #xray tcp tls
   bind *:7443 #xray h2 tls
   bind *:6443 #xray tcp tls
   bind *:8443 #xray tcp tls
   bind *:4433 # openconnect server

   # port 443 was required for AdGuard home and DNS over https. mapping to a new port config [start]
   acl acl_443 dst_port 443
   tcp-request connection set-dst-port int(4443) if acl_443
   # port 443 was required for AdGuard home and DNS over https. mapping to a new port config [end]
   use_backend xray-ocserv-backend-servers


backend xray-ocserv-backend-servers
   option tcp-check
   tcp-check connect port 443
   # tcp-check connect port 4433 this is causing issue to ban proxy server ban ip . commenting for now
   tcp-check connect port 7443
   tcp-check connect port 6443
   tcp-check connect port 8443
   server france  uat.somimobile.com check
   server emirate airline.somimobile.com check
   server germany fra.somimobile.com check
   server bahrain foroush.somimobile.com check backup
   server poland  admin.somimobile.com check   backup



