[Unit]
Description=websocket tunnel with wstunnel - server side
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wstunnel server ws://[::]:8080

[Install]
WantedBy=multi-user.target